.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 25%;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 .card-title{
   font-size: 15px;
 }

 img{
   height: 75%;
 }
 body {
  background-image: url("images/img.jfif");
  background-color: #cccccc;
 }
 .spinner-border
 {color: cyan;}
 #spinner{
   display: none;
 }
 p{
   text-align: justify;
 }